:root {
  --background-primary: #f4f4f4;
  --time-background: green;
  --spacing-bar-color: rgb(173, 12, 12);
  --hamburger-background: rgb(90, 90, 192);
  --web-dev-content: rgb(221, 138, 138);
  --education-item-background-1: #fff;
  --education-item-background-2: #d3d3d3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
}

img {
  width: 100%;
}
.exp {
  background: var(--background-primary);
}

.main_field {
  /* width: 100vw; */
  height: auto;
  padding: 1rem;
  flex-direction: column;
  background: var(--education-item-background-1);
  /* border: 1px dashed rgb(136, 55, 1); */
  box-shadow: 0px 0px 2px rgb(136, 55, 1);
}

/* experiences */

.experience_box {
  gap: 0.75rem;
  height: 230px;
  justify-content: center;
  margin: 1rem 0;
  padding-top: 1rem;
  background-color: var(--web-dev-content);
}

.time_being {
  text-align: center;
  color: #fff;
  width: 30%;
  margin: 0 auto;
}

.about_duration {
  position: relative;
  left: calc(0.5rem);
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  background-color: var(--time-background);
  cursor: pointer;
  text-align: center;
}

.web_dev_info {
  width: 65%;
  height: auto;
}

.web_dev_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 100%;
  gap: 1rem;
  height: 100%;
}

.spacing_bar {
  width: 4px;
  height: 82%;
  background: var(--spacing-bar-color);
}

.web_description {
  height: 82%;
}

.web_description .description_title {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 1210px) {
  .experience_box {
    height: 280px;
  }

  .web_description {
    padding-top: 2rem;
    height: 120%;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: justify;
  }

  .web_dev_info {
    width: 75%;
    height: auto;
  }

  .about_duration {
    position: relative;
    left: calc(10px + 0.35rem);
    font-size: 10px;
  }

  p.description_title {
    font-size: 11px;
  }
  p.desction_content {
    font-size: 12px;
    width: calc(100% - 2em);
  }
}
